.HomePage {
    background-color: rgb(124, 124, 124);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(47 39 106) 54%, rgb(153 88 148) 137%);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.text-area {
    align-items: center;
    text-align: center;
    width: 80%;
    height: auto;
    background-color: rgb(140, 88, 189);
    border-color: #1c2237;
    border-style: outset;
}

.title-home{
    margin-top: 70px;
    margin-bottom: 70px;
    
}

.img-home{
    width:35%;
}

.home-text{
    margin: 5%;
}